@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(../../assets/fonts/Roboto-Bold.ttf) format('truetype');
  }

.Busca {
    margin: 5vh;
}
.Busca input{
    font-family: Roboto-Bold;
    color: #999999;
    font-size: 48px;
    border: none ;
    border-bottom: 2px solid #999999;
    width: 100%;
    resize: none;
    background-color: transparent;
    margin-bottom: 30px;
}

.Titulo{
    font-size: 24px !important;
    margin: 30px 0px 30px 0px;
}

.Lista{
    min-height: 10vh;
    display: -webkit-box;
}

.Elemento{
    align-items: center;
    margin-right: 50px;    
}

.Thumb{
 
    height: 100px;
    width: 100px;
    background-color: #fafafa;
    opacity: 50%;    
}

.Nome_Album{
    font-size: 14px !important;
    color: #fafafa !important;
}

.Nome_Artista{
    font-size: 14px !important;
    color: #999999 !important; 
}