
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

.App {
  text-align: left;
}

.spot-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 2vh;
}

.App-header {
  background-color: #222326;
  min-height: 20vh;
  display: -webkit-inline-box;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header p{
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
